#editor { 
  position: absolute;
  top: 49px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #272822;
  color: antiquewhite;
  border: 2px solid black;
  text-align: center;
}
