div.editor { 
  position: absolute;
  width: 50%;
  height: 50%;
  background: black;
}

#javascript-editor {
  left: 0;
  top: 0;
}

#coffee-editor {
  top: 50%;
  bottom: 0;
}

#css-editor {
  top: 0;
  left: 50%;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #272822;
  color: antiquewhite;
  border: 2px solid black;
  text-align: center;
}
